**/tmp/
**/exe/

doc/examples/tcp_client_chat
doc/examples/tcp_server_chat
prf/json/go/go
prf/json/ion/ion
prf/map/abseil/abseil
prf/map/abseil/build
prf/map/go/go
prf/map/ion/ion
prf/map/skarupke/flat_hash_map

!/**/.gitkeep
*.gz
*.vim
*.swp
*.swo
*.pdf
