[submodule "prf/abseil/abseil-cpp"]
	path = prf/abseil/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2024_07_22
[submodule "prf/map/abseil-cpp"]
	path = prf/map/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2024_07_22
[submodule "prf/map/abseil/abseil-cpp"]
	path = prf/map/abseil/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2024_07_22
